.advantages {
  padding: 10px;
}

.advantages__title {
  @include title;
}

.advantages__list {
  @include clear-list;
}

.advantages__item {
  @include flex-row;
  flex-wrap: no-wrap;
  justify-content: space-between;

  margin: 10px 0;
}

.advantages__image {
  background-color: $green;

  width: 60px;
  height: 60px;
  margin-right: auto;
  margin-left: 0;
}

.advantages__text {
  margin-left: auto;
  margin-right: 0;

  @include arial-text;
}

@media (min-width: $tablet-size) {
  .advantages {
    @include empty-rule;
  }

  .advantages__title {
    @include tablet-title-font;
    margin-bottom: 63px;
  }

  .advantages__list {
    @include flex-row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    @include flex-column;
    @include redline;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    min-height: 228px;
  }

  .advantages__image {
    margin: 0;
    margin-bottom: 27px;

    width: 80px;
    height: 80px;
  }

  .advantages__text {
    @include redline;
    @include reset-space;
    @include tablet-arial-text;
    display: flex;
    max-width: 210px;
  }
}

@media (min-width: $desktop-size) {
  .advantages {
    @include empty-rule;
  }

  .advantages__item {
    width: 25%;
    max-width: 245px;
  }
}
