.advantages {
  @include mobile-space;
  margin-bottom: 59px;
}

.advantages__title {
  @include title;
  margin-top: -1px;
  margin-bottom: 28px;
}

.advantages__list {
  @include clear-list;
}

.advantages__item {
  @include reset-space;
  @include flex-row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 20px;
}

.advantages__image {
  background-color: $green;

  min-width: 60px;
  height: 60px;
  margin-right: auto;
  margin-left: 0;
}

.advantages__image--leaf {
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__image--powder {
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__image--dining {
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__image--clock {
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}


.advantages__text {
  @include reset-space;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 0;

  @include arial-text;
}

@media (min-width: $tablet-size) {
  .advantages {
    @include empty-rule;
    margin: 0;
    margin-bottom: 11px;
  }

  .advantages__title {
    @include tablet-title-font;
    margin-bottom: 72px;
  }

  .advantages__list {
    @include flex-row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    @include flex-column;
    @include redline;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 50%;
    width: 40%;
    min-height: 228px;

    margin-right: 40px;

    margin-bottom: 90px;
  }

  .advantages__image {
    margin: 0;
    margin-bottom: 32px;

    width: 80px;
    height: 80px;
  }

  .advantages__text {
    @include redline;
    @include reset-space;
    @include tablet-arial-text;
    display: flex;
    min-width: 80%;
    max-width: 90%;
  }

  .advantages__floater {
    &::after {
      @include redline;
      content: "";
      width: 90px;
      height: 100px;
      shape-outside: polygon(100% 0, 100% 100%, 0 100%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%);
      background-color: red;
      float: right;
    }
  }
}

@media (min-width: $desktop-size) {
  .advantages {
    @include empty-rule;
  }

  .advantages__item {
    width: 25%;
    max-width: 245px;
  }
}
