.card {
  @include flex-column;
  justify-content: space-between;

  box-sizing: border-box;
  border-top: 1px solid #ededed;

  margin-bottom: 24px;

  height: 185px;
}

.card__wrapper {
  @include mobile-space;
  @include flex-row;
  justify-content: space-around;
  margin-bottom: 0;
}

.card__image-wrapper {
  height: 144px;
}

.card__image {
  @include empty-rule;
  height: 100%;
}

.card__table-wrapper {
  @include flex-column;
  justify-content: space-between;
  min-width: 140px;
}

.card__title {
  @include reset-space;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  max-width: 75px;

  margin-top: 21px;
}

.card__table {
  @include empty-rule;
  margin-bottom: 22px;
}

.card__button {
  @include mobile-space;
  height: 40px;
  font-size: 16px;
  line-height: 20px;

  margin-top: -0;

  padding-top: 9px;
  padding-bottom: 9px;
}

@media (min-width: $tablet-size) {
  .card {
    min-width: 324px;
    background-color: #f2f2f2;
    min-height: 431px;
    padding: 40px 37px;
  }

  .card__wrapper {
    @include yellowline;
    @include flex-column;
  }

  .card__image-wrapper {
    min-height: 120px;
  }

  .card__table-wrapper {
    @include empty-rule;
  }

  .card__title {
    @include tablet-text-font;
    max-width: 110px;
    text-align: center;
    align-self: center;
  }
}

@media (min-width: $desktop-size) {
  .card {
    align-items: center;
  }

  .card__wrapper {
    width: 169px;
  }

  .card__button {
    width: 169px;
  }
}
