.developers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.developers__link {
  text-decoration: none;
  @include arial-text;
  font-size: 16px;
  line-height: 16px;
}

.developers__image {}
