.extra {
  @include empty-rule;
}

.extra__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  margin-bottom: 30px;

  &--item {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;

    margin-top: 14px;
  }
}

.extra__list {
  @include clear-list;
  @include flex-column;
  justify-content: space-around;
}

.extra__item {
  @include flex-column;
  justify-content: space-between;

  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-left: none;
  border-right: none;
}

.extra__table {
  margin-bottom: 14px;
}

.extra__table-row {
  outline: 1px solid transparent;
}

.extra__table-cell {
  @include arial-text;
  font-size: 14px;
  line-height: 14px;
}

.extra__button {
  margin-bottom: 17px;
}
