.forms {
  @include flex-column;
}

.forms__main-form {
  @include flex-column;
}

.forms__fieldset {
  border: none;
  outline: 1px solid black;
}

.forms__wrapper {
  @include flex-column;
}

.forms__inner-wrapper {
  @include empty-rule;
}

.forms__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  &--main {
    @include title;
  }
}

.forms__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  &--small {
    @include arial-text;
    text-transform: none;
    font-size: 14px;
    line-height: 16px;
    align-self: center;
  }
}

.forms__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.forms__input {
  @include empty-rule;
}

.forms__comment {
  &::placeholder {
    color: #444444;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.forms__button {
  border: none;
  font-size: 16px;
  line-height: 20px;
}
