.main-footer {
  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
}

.main-footer__map {}

.main-footer__text-logo {
  align-self: center;
}

.main-footer__social {}

.main-footer__developers {}
