.main-header {
  @include flex-column;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
}

.main-header__wrapper {
  @include flex-row;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
}

.main-header__button {
  width: 18px;
  height: 18px;

  color: $green;
  border-style: none;
  background-color: #ffffff;
  background-image: url("../img/m-close.png");
  background-repeat: no-repeat;
}


@media (min-width: $tablet-size) {
  .main-header {
    @include flex-row;
    @include tablet-space;
  }

  .main-header__wrapper {
    padding: 0;
  }

  .main-header__logo-link {
    margin-right: 10px;
  }

  .main-header__textlogo-link {
    margin-left: 10px;
  }

  .main-header__button {
    display: none;
  }
}

@media (min-width: $desktop-size) {
  .main-header {
    @include redline;
    @include desktop-space;
  }
}
