@import '../variables.scss';

.main-header {
  display: flex;
  flex-direction: column;
}

.main-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header__button {
  color: $green;
  position: relative;

    &::before {
    content: '';
    border-left: 3px solid black;

    top: 0;
    left: 0;

    transform: rotate(-45deg);
    }

    &::after {
    content: '';
    border-right: 3px solid black;

    top: 0;
    left: 0;

    transform: rotate(45deg);
    }
}

