.main-footer {
  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
}

.main-footer__map {
  @include empty-rule;
}

.main-footer__text-logo {
  align-self: center;
}

.main-footer__social {
  @include empty-rule;
}

.main-footer__developers {
  @include empty-rule;
}
