.options {
  @include mobile-space;
}

.options__item {
  background-color: #f2f2f2;

  padding: 20px;

  margin: 20px 0;
}

.options__wrapper {
  border-bottom: 1px solid #d9d9d9;
}

.options__title {
  font-size: 24px;
  line-height: 37, 02px;
  font-weight: 400;

  margin: 0;
  padding: 0;

  margin-top: 22px;
  margin-bottom: 40px;

  text-transform: uppercase;
  text-align: center;
}

.options__text {
  @include arial-text;
  margin-bottom: 22px;
}

.options__link {
  display: inline-block;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  margin-top: 19px;

  text-decoration: none;
  text-transform: uppercase;
  color: $black;

  vertical-align: middle;
}

@media (min-width: $tablet-size) {
  .options {
    @include empty-rule;
  }

  .options__item {
    padding: 50px;
  }

  .options__wrapper {
    border-bottom: none;
  }

  .options__title {
    font-size: 36px;
    text-align: left;
    margin-bottom: 30px;
  }

  .options__text {
    @include tablet-arial-text;
  }

  .options__link {
    @include tablet-text-font;

    margin-top: 60px;
  }
}

@media (min-width: $desktop-size) {
  .options {
    @include flex-row;
    justify-content: space-between;
  }

  .options__item {
    @include redline;
    max-width: 570px;
    padding: 50px;
  }
}
