.promo {
  @include flex-column;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__wrapper {
  @include flex-column;
  align-items: center;
}

.promo__title {
  color: $white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  text-align: center;

  @include reset-space;

  padding: 0 35px;
  padding-top: 25px;

  margin-bottom: 25px;
}

.promo__text {
  color: $white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @include reset-space;

  margin-bottom: 29px;
}

.promo__link {
  display: block;
  width: 100%;
}

.promo__image {
  @include empty-rule;
}

.promo__image--can {
  @include empty-rule;
}

@media (min-width: $tablet-size) {
  .promo {
    background-image: none;
  }

  .promo__wrapper {
    align-items: flex-start;
  }

  .promo__title {
    max-width: 427px;

    @include reset-space;
    margin-bottom: 33px;

    @include tablet-title-font;
    color: $black;

    text-align: left;

    order: 1;
  }

  .promo__text {
    @include tablet-text-font;
    color: $black;

    order: 2;
  }

  .promo__link {
    width: 245px;

    @include tablet-text-font;

    order: 3;
  }

  .promo__image--can {
    order: 4;
  }
}

@media (min-width: $desktop-size) {
  .promo {
    @include redline;
  }

  .promo__image {
    align-self: flex-end;
  }
}
