.slider {
  @include flex-column;
}

.slider__wrapper {
  @include flex-row;
  justify-content: space-around;
}

.slider__image {
  @include empty-rule;
}

.slider__image--hidden {
  display: none;
}

.slider__button {
  border: none;
  background-color: transparent;

  @include font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  text-transform: uppercase;
}

@media (min-width: $tablet-size) {
  .slider {
    background-color: #eaeaea;
    min-height: 462px;
    justify-content: flex-end;
  }

  .slider__image {
    align-self: center;
  }

  .slider__wrapper {
    margin-top: 13px;
    margin-bottom: 68px;
  }

  .slider__button {
    @include tablet-text-font;
  }
}

@media (min-width: $desktop-size) {
  .slider {
    width: 650px;
  }
}
