.social {
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-left: none;
  border-right: none;

  display: flex;
  justify-content: center;
}

.social__list {
  @include clear-list;
  @include flex-row;

  justify-content: space-between;
  align-items: center;
}

.social__item {
  width: 25px;
  height: 25px;

  margin-top: 24px;
  margin-bottom: 13px;

  margin-left: 17px;
  margin-right: 16px;
}

.social__link {
  text-decoration: none;
  margin-left: 2px;
}

.social__icon {
  fill: #666666;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: $green;
}

.social__link:active .social__icon {
  opacity: 0.6;
}
