.table {
  border-spacing: 5px 1px;
}

.table__row {
  @include empty-rule;
}

.table__cell {
  @include arial-text;
  font-size: 12px;
  line-height: 16px;

  outline: 1px solid black;

  &--left {
    padding-left: 10px;
  }
}

@media (min-width: $tablet-size) {
  .table {
    @include empty-rule;
  }

  .table__row {
    border-bottom: 1px solid #cdcdcd;
  }

  .table__cell {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-size) {
  .table {
    @include empty-rule;
  }
}
