$green: #68b738;
$btn-actions-green: #5eaa2f;
$white: #ffffff;
$black: #111111;
$text-black: #444444;
$deep-black: #222222;
$grey: #e6e6e6;
$light-grey: #cdcdcd;
$button-grey: #f2f2f2;
$button-hover-grey: #ebebeb;
$border-grey: #ededed;
$symbol-grey: #d3d3d3;
$slider-btn-grey: #bebebe;
$slider-btn-hover-darkgrey: #989898;
$error-red: #ff8282;
$checkbox-focus: #bababa;

$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1200px;
